// massive__blog, core-feature, blog :  Title
@mixin title() {
  h4 {
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 25px;
  }
}
// Parallax-slider
@mixin parallax() {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
// Blog
@mixin blog__img() {
  content: "";
  position: absolute;
  display: block;
  height: 15px;
  width: 15px;
  left: 50%;
  background-color: white;
  transform: rotate(45deg);
}

// Begin Function Caculate To Rem
@function calc-rem($size) {
  $remSize: $size / 16px;

  @return #{$remSize}rem;
}
// End Function Caculate To Rem

// Begin Font Weight
$fontWeightList: 300, 400, 500, 700, 900;

@each $number in $fontWeightList {
  .fw-#{$number} {
    font-weight: $number !important;
  }
}
// End Font Weight

// Begin Margin & Padding
$marginPaddingList: 0, 5, 10, 20, 25, 30, 50, 100;

@each $number in $marginPaddingList {
  .py-#{$number} {
    padding-top: $number/16 + rem !important;
    padding-bottom: $number/16 + rem !important;
  }

  .px-#{$number} {
    padding-left: $number/16 + rem !important;
    padding-right: $number/16 + rem !important;
  }

  .pt-#{$number} {
    padding-top: $number/16 + rem !important;
  }

  .pb-#{$number} {
    padding-bottom: $number/16 + rem !important;
  }

  .mx-#{$number} {
    margin-left: $number/16 + rem !important;
    margin-right: $number/16 + rem !important;
  }

  .my-#{$number} {
    margin-top: $number/16 + rem !important;
    margin-bottom: $number/16 + rem !important;
  }

  .mt-#{$number} {
    margin-top: $number/16 + rem !important;
  }

  .mb-#{$number} {
    margin-bottom: $number/16 + rem !important;
  }
}
// End Margin & Padding

// Begin Width & Height
$widthHeightList: 400;

@each $number in $widthHeightList {
  .h-#{$number} {
    height: $number/16 + rem !important;
  }

  .min-h-#{$number} {
    height: $number/16 + rem !important;
  }

  .max-h-#{$number} {
    height: $number/16 + rem !important;
  }
}
// End Width & Height

// Begin Letter Spacing
$letterList: 1, 2, 3, 4, 6;

@each $number in $letterList {
  .letter-spacing-#{$number} {
    letter-spacing: $number/16 + rem !important;
  }
}
// End Letter Spacing

// Begin Transition
@mixin transition($property) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -ms-transition: $property;
  transition: $property;
}
// End Transition

// @Media
@media (min-width: 768px) {
  // Begin Margin & Padding
  $marginPaddingList: 0, 5, 10, 20, 25, 30, 50, 100;

  @each $number in $marginPaddingList {
    .py-md-#{$number} {
      padding-top: $number/16 + rem !important;
      padding-bottom: $number/16 + rem !important;
    }

    .px-md-#{$number} {
      padding-left: $number/16 + rem !important;
      padding-right: $number/16 + rem !important;
    }

    .pt-md-#{$number} {
      padding-top: $number/16 + rem !important;
    }

    .pb-md-#{$number} {
      padding-bottom: $number/16 + rem !important;
    }

    .mx-md-#{$number} {
      margin-left: $number/16 + rem !important;
      margin-right: $number/16 + rem !important;
    }

    .my-md-#{$number} {
      margin-top: $number/16 + rem !important;
      margin-bottom: $number/16 + rem !important;
    }

    .mt-md-#{$number} {
      margin-top: $number/16 + rem !important;
    }

    .mb-md-#{$number} {
      margin-bottom: $number/16 + rem !important;
    }
  }
  // End Margin & Padding
}

// ===== Chau ====
@mixin form_h3 {
  letter-spacing: 2px;
}

@mixin form_p {
  width: 60%;
  margin: 0 auto;
  color: $color-p;
  line-height: 25px;
  padding-top: 30px;
}

@mixin form_h2 {
  margin-bottom: 30px;
  font-size: 16px;
}

@mixin bg {
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
