// Begin Header
.header {
  background-color: $color-white;

  &.header-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 999;

    box-shadow: 0 calc-rem(2px) calc-rem(2px) rgba(0, 0, 0, 0.1);
  }
}
// End Header

// Begin Navbar
.navbar {
  padding: 0;
}

.navbar-dark {
  .navbar-nav {
    max-height: calc-rem(400px);
    overflow-y: auto;

    .nav-item {
      &.active {
        .nav-link {
          color: $color-primary-light;
        }
      }
    }

    .nav-link {
      color: $color-black;
      font-size: calc-rem(13px);
      line-height: calc-rem(20px);
      letter-spacing: calc-rem(0.5px);
      text-transform: uppercase;

      padding: calc-rem(12px) calc-rem(20px);

      border-top: solid calc-rem(1px) $border-color;

      @include transition(all 0.3s);

      &:hover,
      &:focus {
        color: $color-primary-light;
      }
    }
  }

  .navbar-brand {
    padding: 0;
    margin-right: calc-rem(30px);

    .logo {
      width: auto;
      height: calc-rem(50px);

      padding: calc-rem(2px) 0;

      @include transition(all 0.3s);
    }
  }

  .navbar-toggler {
    border: 0;

    padding: 0;

    width: calc-rem(20px);

    em {
      background: $color-boulder;

      width: calc-rem(20px);
      height: calc-rem(3px);

      float: right;

      + em {
        margin: calc-rem(3px) 0 0;
      }
    }
  }
}
// End Navbar

// Begin @Media
@media (min-width: 768px) {
  // Begin Header
  .header {
    background-color: transparent;

    &.header-overlay {
      box-shadow: none;
    }

    &.header-sticky {
      background: $color-white;
      box-shadow: 0 calc-rem(1px) calc-rem(2px) rgba(0, 0, 0, 0.1);

      .navbar-dark {
        .navbar-nav {
          .nav-link {
            padding: 0 calc-rem(12px);
          }
        }

        .navbar-brand {
          .logo {
            height: calc-rem(60px);
          }
        }
      }
    }
  }
  // End Header

  // Begin Navbar
  .navbar-expand-md {
    flex-flow: row wrap;
  }

  .navbar-dark {
    .navbar-nav {
      max-height: calc-rem(400px);
      overflow-y: auto;

      margin-left: auto;

      .nav-link {
        padding: calc-rem(40px) calc-rem(13px);

        border-top: 0;
      }
    }

    .navbar-brand {
      .logo {
        height: calc-rem(100px);
      }
    }
  }
  // End Navbar
}
// End @Media
