// Begin Portfolio
.portfolio {
  .portfolio-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .filter-item {
      display: inline-block;

      &__link {
        color: $color-chalice;
        font-size: 1.3rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;

        cursor: pointer;

        display: inline-block;

        margin: 0.9rem 1.5rem;

        &:hover,
        &.active {
          color: $color-shaft;
        }
      }
    }
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;

    .portfolio-item {
      padding: 1rem;

      width: 50%;
    }
  }

  .promo-box {
    background-color: $color-shaft;

    padding: 6rem 0;

    .btn-promo {
      color: $color-white;
      font-size: 1.2rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;

      background: rgba(255, 255, 255, 0.2);
      border-radius: 0.4rem;

      padding: 1.5rem 3rem;

      transition: all 0.3s;

      &:hover {
        background-color: $color-primary;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }
}
// End Portfolio

// @Media
@media (min-width: 768px) {
  // Begin Portfolio
  .portfolio {
    .portfolio-filter {
      .filter-item {
        &__link {
          margin: 0 1.5rem;
        }
      }
    }
    .portfolio-list {
      .portfolio-item {
        width: 25%;
      }
    }
  }
  // End Portfolio
}
