// Begin Portfolio
.portfolio {
  .portfolio-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .filter-item {
      display: inline-block;

      &__link {
        color: $color-chalice;
        font-size: 1.3rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;

        cursor: pointer;

        display: inline-block;

        margin: 0.9rem 1.5rem;

        &:hover,
        &.active {
          color: $color-shaft;
        }
      }
    }
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;

    .portfolio-item {
      padding: 1rem;

      width: 50%;
    }
  }
}
// End Portfolio

// @Media
@media (min-width: 768px) {
  // Begin Portfolio
  .portfolio {
    .portfolio-filter {
      .filter-item {
        &__link {
          margin: 0 1.5rem;
        }
      }
    }
    .portfolio-list {
      .portfolio-item {
        width: 25%;
      }
    }
  }
  // End Portfolio
}
