// Begin Carousel
.carousel {
  .carousel-item {
    position: relative;

    img {
      width: 100%;
      height: 100vh;
    }

    .carousel-info {
      position: absolute;
      top: 40%;
      left: 12%;
    }
  }

  .carousel-indicators {
    align-items: center;

    bottom: calc-rem(22px);

    li {
      background-color: rgba(0, 0, 0, 0);
      background-clip: border-box;

      border: calc-rem(1px) solid $color-white;
      border-radius: 50%;
      box-sizing: border-box;

      margin: calc-rem(2px);

      width: calc-rem(10px);
      height: calc-rem(10px);

      opacity: 1;

      transition: none;

      &.active {
        background-color: $color-white;

        width: calc-rem(12px);
        height: calc-rem(12px);
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 30%;
  }

  .carousel-control-prev {
    cursor: url("./../img/carousel/arrow_left.png"), auto;
  }

  .carousel-control-next {
    cursor: url("./../img/carousel/arrow_right.png"), auto;
  }

  .sr-only,
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: none;
  }
}
// End Carousel

// @Media
@media (min-width: 768px) {
  // Begin Carousel
  .carousel {
    .carousel-item {
      img {
        height: auto;
      }
    }

    .carousel-control-prev,
    .carousel-control-next {
      margin: calc-rem(180px) 0 calc-rem(120px);
    }
  }
  // End Carousel
}
