#core-feature {
  // margin: 5rem;
  font-size: 15px;
  .title {
    @include title();
  }
  @media screen and (max-width: 767px) {
    .core-feature__content {
      display: block !important;
      .content {
        .container {
          padding-right: 0;
          padding-left: 0;
        }
      }
    }
  }

  .core-feature__right {
    .content {
      .number {
        color: #e1e1e1;
        font-size: 36px;
      }
      h4 {
        font-weight: 400;
        letter-spacing: 1px;
        padding: 3px 0;
        font-size: 18px;
      }
    }
    .button {
      a {
        letter-spacing: 1px;
        font-size: 13px;
        margin: 10px;
        padding: 1rem 1.5rem;
        transition: 0.3s;
        &.button__1 {
          border: none;

          &:hover {
            background-color: #d6b161;
          }
        }
      }
    }
  }
}
