// Begin Portfolio
.portfolio {
  .portfolio-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .filter-item {
      display: inline-block;

      .item-link {
        color: $color-chalice;
        font-size: calc-rem(13px);
        letter-spacing: calc-rem(3px);
        text-transform: uppercase;

        cursor: pointer;

        display: inline-block;

        margin: calc-rem(9px) calc-rem(15px);

        &:hover,
        &.active {
          color: $color-shaft;
        }
      }
    }
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;

    .portfolio-item {
      padding: calc-rem(10px);

      width: 50%;
    }
  }

  .promo-box {
    background-color: $color-shaft;

    padding: calc-rem(60px) 0;

    .btn-promo {
      color: $color-white;
      font-size: calc-rem(12px);
      text-transform: uppercase;
      letter-spacing: calc-rem(1px);

      background: rgba(255, 255, 255, 0.2);
      border-radius: calc-rem(4px);

      padding: calc-rem(15px) calc-rem(30px);

      transition: all 0.3s;

      &:hover {
        background-color: $color-primary;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }
}
// End Portfolio

// @Media
@media (min-width: 768px) {
  // Begin Portfolio
  .portfolio {
    .portfolio-filter {
      .filter-item {
        .item-link {
          margin: 0 calc-rem(15px);
        }
      }
    }
    .portfolio-list {
      .portfolio-item {
        width: 25%;
      }
    }
  }
  // End Portfolio
}
