// Begin Social
.social-link {
  a {
    color: $color-shaft;
    font-size: calc-rem(16px);
    line-height: calc-rem(24px);

    margin: 0 calc-rem(10px);

    transition: all 0.3s;

    &:hover {
      color: $color-primary;
    }
  }
}
// End Social
