#testimonail {
    background-image: url(.././img/19.jpg);
    @include bg();
  .item {
      img{
          width: 100px;
          height: auto;
          border-radius: 50%;
          margin: 0 auto
      }
    p {
      @include form_p();
      font-size: 16px;
      font-style: italic;
      line-height: 30px;
      margin-bottom: 30px;
    }
    .test__text{
        color: #fff;
    }
  }
}
