// Begin Border Box
.border-box {
  border: calc-rem(1px) solid $border-box;
  border-radius: calc-rem(4px);

  padding: calc-rem(30px);
  margin: calc-rem(50px) 0 0;

  position: relative;

  transition: all 0.3s;

  &:hover {
    .box-icon {
      background-color: $color-primary;
    }
  }

  .box-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: calc-rem(4px);
    background: $color-shaft;
    box-shadow: 0 0 0 calc-rem(10px) $color-white;

    position: absolute;
    top: calc-rem(-30px);
    left: calc-rem(30px);

    width: calc-rem(60px);
    height: calc-rem(60px);
  }
}
// End Border Box

// @Media
@media (min-width: 768px) {
  // Begin Border Box
  .border-box {
    margin: 0;
  }
  // End Border Box
}
