// Begin Reset Default Browser
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

dl,
ol,
ul {
  list-style: none;
  margin: 0;
}

button:focus {
  outline: none;
}
// End Reset Default Browser

// Begin Reset Boostrap Properties
.row {
  margin-right: calc-rem(-30px);
  margin-left: calc-rem(-30px);
}

.container-fluid,
[class^="col-"] {
  padding-right: calc-rem(30px);
  padding-left: calc-rem(30px);
}
// End Reset Boostrap Properties

// chau 
.section1 {
  padding: 100px 0;
  font-size: 15px !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
}