// Begin Heading
.heading1,
.heading2,
.heading3,
.heading4,
.heading5,
.heading6 {
  margin: 0 0 calc-rem(30px) 0;
  font-weight: 400;
}

.heading1,
.heading2,
.heading3,
.heading5 {
  letter-spacing: calc-rem(2px);
}

.heading4 {
  letter-spacing: calc-rem(1px);
}

.heading1 {
  font-size: calc-rem(26px);
  line-height: calc-rem(39px);
}

.heading3 {
  font-size: calc-rem(18px);
  line-height: calc-rem(27px);
}

.heading4 {
  font-size: calc-rem(18px);
  line-height: calc-rem(27px);
}

.heading5 {
  font-size: calc-rem(14px);
  line-height: calc-rem(21px);
}
// End Heading

// Begin Paragraph
.text-desc {
  color: $color-grey;
  line-height: calc-rem(30px);

  margin: 0;
}
// End Paragraph

// Begin Text Color
.text-primary {
  color: $color-primary !important;
}

.text-black {
  color: $color-black !important;
}

.text-grey {
  color: $color-grey;
}

.text-grey-light {
  color: $color-grey-light;
}

.text-shaft {
  color: $color-shaft;
}

.text-boulder {
  color: $color-boulder;
}
// End Text Color

// Begin Text Size
.fs-12 {
  font-size: calc-rem(12px) !important;
  line-height: calc-rem(18px) !important;
}

.fs-13 {
  font-size: calc-rem(13px) !important;
  line-height: calc-rem(20px) !important;
  letter-spacing: calc-rem(0.5px) !important;
}

.fs-14 {
  font-size: calc-rem(14px) !important;
  line-height: calc-rem(30px) !important;
}

.fs-18 {
  font-size: calc-rem(18px) !important;
  line-height: calc-rem(27px) !important;
}
// End Text Size

// Begin Background
.bg-grey {
  background-color: $bg-color !important;
}

.bg-dark {
  background-color: $color-shaft !important;
}
// End Background

// Begin Section
.section {
  padding: calc-rem(50px) 0;
}
// End Section

// Begin Img
img {
  width: 100%;
  height: auto;
}
// End Img

// @Media
@media (min-width: 768px) {
  // Begin Heading
  .heading1 {
    font-size: calc-rem(36px);
    line-height: calc-rem(54px);
  }

  .heading3 {
    font-size: calc-rem(24px);
    line-height: calc-rem(36px);
  }
  // End Heading

  // Begin Section
  .section {
    padding: calc-rem(100px) 0;
  }
  // End Section
}
